<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home Page</title>
</head>
<body>
<h2 th:text="'List of recipes'">List of recipes</h2>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Description</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">123</td>
        <td th:text="${recipe.description}">Recipe name</td>
    </tr>
    </tbody>
</table>
</body>
</html>